.our-logo-text {
  width: 13.125rem;
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 2.75rem;
  letter-spacing: -0.015em;
  color: #000000;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
}
